.reserve_body {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background-image: linear-gradient(62deg, #B799FF 0%, #AEE2FF 100%);
  justify-content: space-around;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.reserve_Box {
  gap: 50px;
  padding: 3%;
  border-radius: 35px;
  height: 100%;
  width: 90%;
  background-color: rgb(224, 223, 223);
}

.reserve_docProfile {
  text-align: center;
}

.reserve_docProfile .reserve_docName {
  font-family: Ios15Medium;
}

.reserve_docProfile a {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 10px solid rgba(4, 9, 29, 0.3);
  display: inline-block;
}

.reserve_docProfile a img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.reserve_wrap {
  justify-content: center;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.reserve_wrap .reserve_hour_wrap {
  background-color: #fff;
  padding: 40px;
  border-radius: 0rem 1rem 1rem 0rem;
  box-shadow: 0 1em 4em rgba(0, 0, 0, 0.07);
}

.custom_calendar {
  font-size: 10px !important;
  border-radius: 1rem 0rem 0rem 1rem !important;
  top: 0px !important;

}

@media (max-width: 1450px) {
  .custom_calendar {
    font-size: 11px !important;
  }

  .reserve_wrap .reserve_hour_wrap {
    width: 340px;
  }
}

@media (max-width: 870px) {
  .custom_calendar {
    font-size: 11px !important;
    border-radius: 1rem 1rem 0rem 0rem !important;

  }

  .reserve_wrap .reserve_hour_wrap {
    width: 363px;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}

@media (max-width: 800px) {
  .custom_calendar {
    font-size: 10px !important;
    border-radius: 1rem 1rem 0rem 0rem !important;
  }

  .reserve_wrap .reserve_hour_wrap {
    width: 330px;
    border-radius: 0rem 0rem 1rem 1rem;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .custom_calendar {
    font-size: 16px !important;
  }

  .reserve_wrap .reserve_hour_wrap {
    width: 400px;
  }
}

.custom-today-day {
  color: #112a90 !important;
  border: 1px solid #98acfd !important;
}

.custom-today-day::after {
  visibility: hidden;
}

.reserve_wrap .reserve_hour_wrap h6 {
  font-family: Ios15Medium;
  text-align: center;
  font-weight: bold;
  color: rgb(66, 38, 77);
}

.res_hcard_body{
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1em 4em rgba(244, 75, 75, 0.07);
}