@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');
:root {
  background: linear-gradient(62deg, #b799ff 0%, #aee2ff 100%) no-repeat;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Vazir, Arial, sans-serif;
}

.bd {
  /* padding-top: 50px; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
  width: 100%;
  background-image: linear-gradient(62deg, #b799ff 0%, #aee2ff 100%);
}

.error {
  color: red;
  font-size: smaller;
  height: 1px;
  position: relative;
  top: -10px;
  direction: ltr;
}

.wrapper {
  margin-left: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
  max-height: 630px;
  max-width: 500px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(66, 38, 77) 0px 20px 30px -10px;
}

.wrapper .header {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-family: Vazir, Arial, sans-serif;
  text-align: center;
}

.wrapper .title {
  font-family: Ios15Medium;
  width: 50%;
  font-size: 32px;
  color: #767575;
  font-weight: 700;
  text-align: center;
  text-shadow: rgb(161, 185, 247) 0px 0px 7px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .form_container {
  width: 100%;
  overflow: hidden;
}

.wrapper .slider_controls {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  display: flex;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 35px;
}

.slider_controls .slide {
  font-family: Ios15Medium;
  width: 50%;
  color: #fff;
  height: 100%;
  line-height: 48px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
  text-shadow: rgb(214, 215, 218) 0px 0px 4px;
}

input[type="radio"] {
  display: none;
}

.slider_controls label.signup {
  color: #767575;
}
.slider_controls .slider_tab{
  height:100%;
  width: 50%;
  left:0;
  z-index: 0;
  /*background: -webkit-linear-gradient(left,#5a0066 , #5c0080 , #9500b3,#8a00e6);*/
  background: -webkit-linear-gradient(left,#B799FF , #ACBCFF , #AEE2FF);
  position: absolute;
  border-radius: 35px;
  transition:all 0.6s cubic-bezier(0.68 , -0.55 , 0.265 , 1.55);
}
/*
.slide.login.active {
  left:50%;
  color: red; 
  height:100%;
  width: 50%;
  left:0;
  z-index: 0;
  background: -webkit-linear-gradient(left,#5a0066 , #5c0080 , #9500b3,#8a00e6);
  position: absolute;
  border-radius: 35px;
  transition:all 0.6s cubic-bezier(0.68 , -0.55 , 0.265 , 1.55);

}
*/





#signup:checked ~ .slider_tab{
  left:50%;
}
#signup:checked ~ label.signup{
  color:#fff;
  user-select: none;
}

#signup:checked ~ label.login{
  /* color:#000; */
  color:#767575;
}
#login:checked ~ label.signup{
  /* color:#000; */
  color:#767575;
}
#login:checked ~ label.login{
  user-select: none;
}
.form_container .form_details{
  display:flex;
  width:200%;
  font-family: Vazir, Arial, sans-serif;

}
.form_container .form_details form{
 margin-top: 10px;
  width:50%;
  transition:all 0.6s cubic-bezier(0.68 , -0.55 , 0.265 , 1.55);
  font-family: Vazir, Arial, sans-serif;

}
.form_details form .field {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-family: Vazir, Arial, sans-serif;

}

.form_details .form .field .input {
  width: 100%;
  height: 100%;
  direction: rtl;
  outline: none;
  padding-left: 15px;
  border: none;
  border-bottom: 2px solid #adadad;
  font-size: 18px;
  transition: border-color 0.3s ease;
  color: gray;
  caret-color: rgb(152, 103, 175);
  font-family: Vazir, Arial, sans-serif;

}


.error_input {
  width: 100%;
  height: 10px;
  direction: rtl;
  outline: none;
  margin-top: 5px;
  padding-left: 15px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  transition: border-color 0.3s ease;
  color: #bba2f7;
  caret-color: #bba2f7;
}
.error_input2 {
  width: 100%;
  height: 10px;
  text-align: center;
  direction: rtl;
  outline: none;
  margin-top: 7px;
  padding-left: 15px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  transition: border-color 0.3s ease;
  color: #bba2f7;
  caret-color: #bba2f7;
}


.form_details form .field input:hover {
  border-bottom-color: #cdbdf3;
}

.form_details form .field input:focus {
  border-bottom-color: #b396f6;
}

.form_details form .field input::placeholder {
  font-family: Vazir, Arial, sans-serif;
  color: #999;
  transition: all 0.3s ease;
  font-family: Vazir, Arial, sans-serif;
  
}

.form_details form .field .toggle-icon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the position of the toggle icon */
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.form_details form .field .toggle-icon:hover {
  color: #aa87fd;
}


.form_details form .field .toggle-icon2 {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the position of the toggle icon */
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.4;
  transition: color 0.3s ease;
}

.form_details form .field .toggle-icon2:hover {
  color: #aa87fd;
}


form .field input:focus::placeholder{
  color:#8e69e4;
  font-family: Vazir, Arial, sans-serif;

}

form .field input:hover::placeholder {
  color: #B799FF;
  font-family: Vazir, Arial, sans-serif;

}
.form_details form .pass_link{
  margin-top: 5px;
  font-family: Vazir, Arial, sans-serif;
  
}
.form_details form .signup_link{
  margin-top:30px;
  color: #767575;

  text-align: center;
  
}
.form_details form .pass_link a,
.form_details form .signup_link a{
    font-family: Vazir, Arial, sans-serif;

    color: #B799FF;
    
    text-decoration: none;
    font-size: 15px;
}
.form_details form .signup_link{
  font-family: Ios15Medium;
  font-size: 17px;
  text-align: center;
  font-family: Vazir, Arial, sans-serif;
  
}
form .btn{
  
  height: 50px;
  width:100%;
  border-radius: 35px;
  position:relative;
  overflow: hidden;
  font-family: Vazir, Arial, sans-serif;


}
form .btn .btn_layer{
  
  width:300%;
  height: 100%;
  position: absolute;
  left:-100%;
  border-radius: 30px;
  /* background:-webkit-linear-gradient(right,#350066,#710080,#a400b3, #bd4fe9); */
  background: -webkit-linear-gradient(left,#B799FF , #ACBCFF , #AEE2FF,#E6FFFD);
  transition: all 0.3s ease
}
form .btn:hover .btn_layer{
  left:0;
}
form .btn input[type="submit"]{
  display:inline;
  font-family: Ios15Medium;
  height:100%;
  width:100%;
  position:relative;
  color:#fff;
  z-index: 1;
  border:none;
  padding-left: 0;
  border-radius: 15px;
  font-size: 20px;
  font-weight:500;
  cursor:pointer;
  background: none;
  text-shadow: rgb(214, 215, 218) 0px 0px 3px;
  font-family: Vazir, Arial, sans-serif;

}

/* CSS */
 .button-20 {
  appearance: button;
  background-color: #4D4AE8;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
  border: 1px solid #4D4AE8;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: .5rem 1rem;
  text-align: center;
  text-transform: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  font-family: Vazir, Arial, sans-serif;

}

.button-20:focus:not(:focus-visible),
.button-20:focus {
  outline: 0;
}

.button-20:hover {
  background-color: #3733E5;
  border-color: #3733E5;
}

.button-20:focus {
  background-color: #413FC5;
  border-color: #3E3BBA;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
  background-color: #3E3BBA;
  background-image: none;
  border-color: #3A38AE;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.select-field option:checked {
  color: blue; /* Set the font color for the selected option */
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.523); /* Adjust the opacity as needed */
  z-index: -1; /* Ensure the overlay appears above other elements */
}

