@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazir&display=swap');
body {
  direction: rtl;
  font-family: 'Anek Malayalam', sans-serif;
  background: linear-gradient(62deg, #b799ff 0%, #aee2ff 100%) no-repeat;
  color: #413f45;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
  font-family: Vazir, Arial, sans-serif;
}

.tests-lib-quiz-container {
  width: 800px; /* Increase container width */
  height: auto;
  max-width: 100%;
  min-height: 410px;
  background: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  padding: 50px 100px; /* Adjust padding */
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.tests-lib-quiz-container .tests-lib-active-question-no {
  font-size: 40px; /* Adjust font size */
  font-weight: 500;
  color:#99adfd;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tests-lib-quiz-container .tests-lib-total-question {
  font-size: 21px; /* Adjust font size */
  font-weight: 500;
  color: #959496;
}

.tests-lib-quiz-container h2 {
  font-size: 21px; /* Adjust font size */
  font-weight: 500;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #636363;
}

.tests-lib-quiz-container ul {
  margin-top: 30px; /* Adjust margin */
  margin-right: -40px;
}

.tests-lib-quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #47464e;
  font-size: 18px; /* Adjust font size */
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 15px; /* Adjust padding */
  margin-top: 20px; /* Adjust margin */
  cursor: pointer;
  transition: color 0.3s ease;
}

.tests-lib-quiz-container ul .tests-lib-selected-answer {
  background: #ccc9fd;
  border: 1px solid #9a94fb;
}

.tests-lib-quiz-container button {
  background: -webkit-linear-gradient(left,#B799FF , #ACBCFF , #AEE2FF);
  border-radius: 15px; /* Adjust border radius */
  font-size: 20px; /* Adjust font size */
  color: #ffffff;
  padding: 15px 60px; /* Adjust padding */
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* width: 100px; */
}

.tests-lib-quiz-container button:hover {
  background: -webkit-linear-gradient(left, #7e77e0, #7e77e0, #7e77e0);
}

.tests-lib-quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.tests-lib-flex-right {
  display: flex;
  justify-content: flex-end;
}

.tests-lib-result h3 {
  font-size: 25px; /* Adjust font size */
  letter-spacing: 2px; /* Adjust letter spacing */
  text-align: center;
}

.tests-lib-result p {
  font-size: 20px; /* Adjust font size */
  font-weight: 500;
}

.tests-lib-result p span {
  color: #6459fa;
  font-size: 30px; /* Adjust font size */
}

.tests-lib-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; /* Adjust margin */
}

.tests-lib-button-group button {
  flex: 0 0 200px; /* Adjust button width */
  margin: 0 20px; /* Adjust margin */
}

.tests-lib-button-group span {
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.tests-lib-button-group span:hover {
  color: rgb(169, 163, 250)
}

.custom-swal-container .swal2-popup {
  border-radius: 20px; /* Adjust border radius */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); 
}

.custom-swal-container .swal2-title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 36px; /* Adjust font size */
}

.custom-swal-container .swal2-content {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 24px; /* Adjust font size */
}
