@font-face {
  font-family: 'Ios15Medium';
  src: local('Ios15Medium'), url(./Fonts/Ios15Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'BBadr';
  src: local('BBadr'), url(./Fonts/BBadr.ttf) format('truetype');
}
@font-face {
  font-family: 'BJALAL';
  src: local('BJALAL'), url(./Fonts/BJALAL.TTF) format('truetype');
}
@font-face {
  font-family: 'BMitra';
  src: local('BMitra'), url(./Fonts/BMitra.ttf) format('truetype');
}
@font-face {
  font-family: 'BSetareh';
  src: local('BSetareh'), url(./Fonts/BSetareh.ttf) format('truetype');
}
*{
  margin:0;
  padding:0;
}
/* body{
  display: grid;
  height:100%;
  width:100%;
} */